<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en" th:fragment="head">
        <title>Log in</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.js}"/>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootswatch/3.3.5/cerulean/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>
    </head>

</html>